@{
    ViewData["Title"] = "Appointment List";
}

@model List<Tour>


<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

    </thead>

        <tbody>
            @foreach (var x in Model)
                {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.Email</td>
                <td>@x.Phone</td>
                <td><button class="btn btn-warning btn-sm">Edit</button></td> @*Austin, you can add in your functions to connect to these buttons and then I think we're good to go!'*@
                <td><button class="btn btn-danger btn-sm">Delete</button></td>
            </tr>
                }

        </tbody>

</table>
