@{
    ViewData["Title"] = "Edit Appointment Details";
}

@model TempleTourGenius.Models.Tour

<h1 class="text-center">Edit Appointment Details</h1>

<form method="post" asp-controller="Home" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="TimeId">Time Slot</label>
        @foreach (Timeslots t in ViewBag.TimeSlots)
        {
            <br />
            <label asp-for="TimeId">@t.Time</label>
            <input asp-for="TimeId" type="hidden" value="@t.TimeId" />
        }
    </div>

    <div class="form-group">
        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GroupSize">Group Size</label>
        <input asp-for="GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <br />
    <div>
        <input class="btn btn-primary" type="submit" value="Submit Appointment" />
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="AppointmentList">Cancel</a>
    </div>
</form>